@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";

.loading {
  &__container {
    display: flex;
    justify-content: center;
  }
  &--rotate {
    color: $light-color;
    @include rotation();
  }
}
